* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

resources/election/eml/7.0/Schemas/**/*.xsd -text -eol

CHANGELOG.md export-ignore
README.md export-ignore
